form {
  display: flex;
  justify-content: center;
  justify-items: center;
  align-items: center;
  background-color: var(--primary-white-color);
}

label {
  font-size: clamp(1rem, 2.5vw, 1.2rem);
  pointer-events: none;
  transition: color 0.3s ease;
}

input {
  font-family: inherit;
  cursor: pointer;

  &:focus {
    cursor: text;
  }
}

textarea {
  outline: none;
  margin-top: 0.5rem;
  padding: 0.5rem;
  width: 28rem;
  min-width: 28rem;
  max-width: 28rem;
  height: 15rem;

  @include respond-to('medium') {
    width: var(--container-max-width);
    height: 15rem;
    min-height: 5rem;
    max-height: 30rem;
  }
}

input::-webkit-input-placeholder {
  opacity: 0;
  transition: inherit;
}

input[type='password'],
input[type='password']::placeholder {
  font-family: Verdana, sans-serif;
  letter-spacing: 0.2rem;
}

select {
  appearance: none; /* Hide default arrow */
}
