.root {
  padding: 2rem 0;
  @include flexCenter(column, flex-start, stretch);
  gap: 1rem;
  @include respond-to('medium') {
    flex-direction: row;
    justify-content: space-between;
  }
}

.item {
  @include flexCenter(row, space-between);
  border: 1px solid var(--primary-gray-border);
  padding: 1.5rem;
  border-radius: 1rem;
  gap: 1rem;
}

.label {
  color: var(--primary-black-color);
}
