.root {
  justify-content: space-between;
}

.title {
  margin: 1rem 0 2rem;
}

.field {
  margin-bottom: 3rem;
}

.wrapper {
  width: 90%;
  @include flexCenter(column);

  @include respond-to('medium') {
    width: 40rem;
    margin-bottom: 4rem;
  }
}
