.title {
  margin: 1rem 0 2rem;
}

.infoBox {
  @include respond-to('small') {
    margin-top: 2rem;
  }
}

.field {
  margin-bottom: 2.5rem;
}

.wrapper {
  width: 90%;
  @include flexCenter(column, space-evenly);

  @include respond-to('medium') {
    width: 40rem;
    margin-bottom: 3rem;
  }
}
