.root {
  width: 100vw;
  @include flexCenter(column, center);

  @include respond-to('small') {
    height: stretch;
  }

  @include respond-to('medium') {
    justify-content: space-evenly;
    width: 70rem;
    border-radius: 3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  & > :last-child {
    margin-bottom: 2rem;
  }
}

.title {
  margin: 5rem 0 2rem;
}

@include respond-to('small') {
  .cta {
    margin-bottom: 4rem;
  }
}

.field {
  margin-bottom: 2rem;
}

.wrapper {
  width: 90%;
  @include flexCenter(column, space-evenly);

  @include respond-to('medium') {
    width: 36rem;
    margin-bottom: 4rem;
  }
}
