.root {
  justify-content: flex-start;
  & > :last-child {
    width: 100%;
  }
}

.title {
  margin: 1rem 0 2rem;
}

.infoBox {
  @include respond-to('small') {
    margin-top: 2rem;
  }
}

.field {
  margin-bottom: 2.5rem;
}

.wrapper {
  width: 100%;
  @include flexCenter(column, space-evenly);
  margin-bottom: 3rem;

  @include respond-to('medium') {
    width: var(--container-max-width);
  }
}
