.root {
  justify-content: flex-start;
  & > :last-child {
    text-align: center;
    width: 100%;
  }
}

.title {
  margin-bottom: 2rem;
}

.field {
  margin-bottom: 3rem;
  flex: 1;
}

.wrapper {
  width: 100%;
  height: 100%;
  @include flexCenter(column, space-between);
  margin-bottom: 4rem;
  @include respond-to('medium') {
    width: var(--container-max-width);
  }
}
