.avatar {
  @include flexCenter(column, center);
  margin-bottom: 5rem;
}

.userInfo {
  & > * {
    margin-bottom: 6rem;
    &:not(:last-of-type) {
      margin-bottom: 1rem;
    }
  }
}

.logoutCta {
  margin-top: auto;
  @include respond-to('medium') {
    margin-top: unset;
    width: max-content;
    margin-bottom: 10rem;
  }
}
