.avatar {
  @include flexCenter(column, center);
  margin-bottom: 5rem;
}

.userInfo {
  @include flexCenter(column);
  gap: 1rem;
  margin-bottom: 6rem;
}

.logoutCta {
  margin-top: auto;
  @include respond-to('medium') {
    margin-top: unset;
    /*  width: max-content; */
    margin-bottom: 10rem;
  }
}
