.root {
  margin: var(--page-padding) var(--page-padding) 2rem;

  @include respond-to('medium') {
    @include flexCenter(column, flex-start, center);
  }
}

.wrapper {
  max-width: var(--page-max-width);
  @include flexCenter(column, flex-start, flex-start);
}

.title {
  margin-bottom: 2.5rem;
}

.lastUpdate {
  @include flexCenter(row, space-between, flex-end);
  gap: 0.5rem;
  margin-bottom: 0.5rem;
}

.container {
  @include flexCenter(column);
  gap: var(--page-padding);

  @include respond-to('medium') {
    @include flexCenter(row, flex-start, flex-start);
  }
}

.leftContainer {
  @include flexCenter(column, space-between, flex-start);
  width: 100%;
  flex: 1;
  @include respond-to('medium') {
    width: 60rem;
  }
}

.rightContainer {
  margin: 0 -2rem;
  flex: 0.8;
  & > div {
    gap: 2rem;
  }
  @include respond-to('medium') {
    margin: unset;
  }
}
.rightSubContainer {
  width: 100%;
  @include flexCenter(row, space-between, flex-start);
  gap: 2rem;

  @include respond-to('small') {
    margin: 0 var(--page-padding);
  }
}

.image,
.description {
  width: 100%;
  margin-bottom: 3rem;
}
