.root {
  margin: var(--page-padding) var(--page-padding) 0;
  @include respond-to('medium') {
    @include flexCenter(column, flex-start, center);
  }
}

.wrapper {
  max-width: var(--page-max-width);
}

.container {
  @include respond-to('medium') {
    @include flexCenter(row, center, flex-start);
  }
}

.leftContainer {
  @include flexCenter(column, space-between, flex-start);
  @include respond-to('medium') {
    margin-right: var(--page-padding);
    max-width: min(50%, 70rem);
  }
}

.rightContainer {
  margin: 0 -2rem;
  @include flexCenter(column, space-between);
  @include respond-to('medium') {
    margin: unset;
    flex: 1;
  }
}
.rightSubContainer {
  width: 100%;
  @include flexCenter(row, space-between, flex-start);

  @include respond-to('small') {
    margin: 0 var(--page-padding);
  }

  & > :not(:last-of-type) {
    margin-bottom: 2rem;
  }
}

.image,
.description {
  margin-bottom: 3rem;
}

.title,
.trailer,
.info {
  margin-bottom: 2rem;
}
