.root {
  width: 100%;
  @include respond-to('medium') {
    @include flexCenter(column, flex-start, center);
  }
}

.withPadding {
  padding: 0 var(--page-padding);
}

.wrapper {
  max-width: 150rem;
}

.container {
  @include respond-to('medium') {
    @include flexCenter(row, center, flex-start);
  }
}

.leftContainer {
  @include flexCenter(column, space-between, flex-start);
  @include respond-to('medium') {
    flex: 1;
  }
}

.rightContainer {
  @include flexCenter(column, space-between, flex-start);
  @include respond-to('medium') {
    max-width: min(50%, 70rem);
  }
}

.image,
.description {
  margin-bottom: 3rem;
}

.title,
.trailer,
.info {
  margin-bottom: 2rem;
}
