.root {
  width: 100%;
  @include flexCenter(column, flex-start, flex-start);
}

.wrapper {
  width: 100%;
}

.container {
  @include respond-to('medium') {
    @include flexCenter(row, center, flex-start);
  }
}

.title {
  margin-bottom: 4rem;
}

.featured,
.series {
  @include respond-to('small') {
    width: 100%;
  }
  margin-bottom: 1rem;
}

.featuredTitle {
  margin-bottom: 1.5rem;
}
