.root {
  width: 100%;
  @include flexCenter(column, flex-start, flex-start);
}

.wrapper {
  width: 100%;
}

.title {
  margin-bottom: 4rem;
}

.series {
  row-gap: 2rem;

  @include respond-to('medium') {
    row-gap: 2.5rem;
  }
}