.root {
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  margin-bottom: 2rem;
  flex-wrap: wrap;
}

.series {
  row-gap: 4rem;

  @include respond-to('medium') {
    row-gap: 2.5rem;
  }
}
