.root {
  width: 100%;
  @include flexCenter(column, flex-start, stretch);
}

.row {
  @include flexCenter(row, space-between);
}

.field {
  @include flexCenter(row, flex-start);
  &:not(:last-of-type) {
    margin-bottom: 1rem;
  }
}

.icon {
  margin-right: 1rem;
}
