.menu {
  @include flexCenter(column, flex-start);
  padding: 3rem;
  position: absolute;
  overflow: hidden;
  top: 6.3rem;
  left: -120%;
  opacity: 0;
  transition: all 0.5s ease-out;
  transition-property: left, opacity;
  width: 100%;
  height: calc(100vh - var(--header-height) + 1rem);
  background-color: var(--primary-black-color);
  box-shadow:
    0 3px 5px 0px rgba(255, 255, 255, 0.2),
    0 -3px 5px 0px rgba(255, 255, 255, 0.2);
  & > * {
    width: inherit;
  }

  @include respond-to('large') {
    @include initialProperties;
    box-sizing: border-box;
    @include flexCenter(row, flex-start);
  }

  &.toggled {
    background-color: var(--primary-black-color);
    opacity: 1;
    left: 0;
  }
}

.burgerMenu,
.separator {
  @include hideOnLarge;
}

.links {
  @include flexCenter(column, space-around, flex-start);
  align-content: flex-start;
  @include respond-to('large') {
    flex-direction: row;
  }
}

.bottomSection {
  margin-top: auto;
  @include flexCenter(row, space-between);
}

.languageMenu {
  @include respond-to('large') {
    margin: 0 2rem;
  }
}
