.root {
  @include flexCenter(row);

  transition: color 0.3s ease;

  & > * {
    color: var(--primary-white-color);
    transition: color 0.3s ease-in-out;
  }

  &:hover *,
  &.isActive * {
    color: var(--primary-yellow-color);
  }

  @include respond-to('large') {
    cursor: pointer;
  }
}

.link {
  @include flexCenter(row);
  gap: 1.5rem;
}

.icon {
  @include hideOnLarge;
}
