.root {
  @include flexCenter(row);

  &:not(:last-of-type) {
    margin-bottom: 2rem;
  }

  @include respond-to('large') {
    &:not(:first-of-type) {
      margin-left: 2rem;
    }

    &:not(:last-of-type) {
      margin-bottom: unset;
    }
    cursor: pointer;
  }
}

.label {
  color: var(--primary-white-color);
  transition: color 0.3s ease-in-out;
  &:hover,
  &.isActive {
    color: var(--primary-yellow-color);
  }
}
.icon {
  margin-right: 1.5rem;
  @include hideOnLarge;
}
