.root {
  width: 100%;
  @include flexCenter(column, flex-start, stretch);

  background-color: var(--primary-gray-color);
  padding: var(--page-padding);

  @include respond-to('medium') {
    border-radius: 1rem;
  }

  & > :not(:last-of-type) {
    margin-bottom: 1rem;
  }
}
