.root {
  @include flexCenter(column, space-around, flex-start);
  width: 100%;
}

.heading {
  @include flexCenter(row, space-between);
  width: 100%;
  margin-bottom: 0.8rem;
}

.inputContainer {
  width: 100%;
  @include flexCenter(column, space-between, stretch);
  gap: 1rem;
}

.input {
  padding: 1rem 0.5rem;
  border-width: 1px;
  border-radius: 0.2rem;
}

.value {
  @include truncated;
}

.offset {
  margin-top: 0.5rem;
}

.cta {
  cursor: pointer;
  transition: opacity 0.3s ease;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.2);

  &:hover {
    opacity: 0.6;
  }
  &:active {
    opacity: 0.4; // Quick visual feedback on touch
  }
}

.hint {
  opacity: 0.85;
}

.separator {
  opacity: 0.1;
}
