.root {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.65);
  @include flexCenter(column);
  z-index: 999;
  animation: fadeIn 0.3s ease-in;
}

.container {
  animation: slideIn 0.3s ease-out;
  @include respond-to('small') {
    margin-top: auto;
    -moz-border-radius: 0; // Apply border radius to top part only
    -webkit-border-radius: 1rem 1rem 0 0;
    border-radius: 1rem 1rem 0 0;
  }

  background-color: var(--primary-white-color);
  border-radius: 1rem;
  padding: 1.5rem 2rem 2rem;
  width: 100vw;
  height: auto;
  max-height: 75dvh;
  position: relative;
  @include respond-to('medium') {
    min-width: 50rem;
    width: min(60dvh, var(--page-max-width) / 1.5);
  }
}

.header {
  @include flexCenter(row, space-between, center);
  gap: 1rem;

  &.centred {
    justify-content: center;
  }
}

.titleWrapper {
  @include flexCenter(row, flex-start, center);
  gap: 1.5rem;
  flex: 1;
}

.closeIcon {
  background: none;
  border: none;
  font-size: clamp(1.6rem, 3vw, 1.8rem);
  color: var(--primary-black-color);
  cursor: pointer;
  transition: color 0.3s;

  &:hover {
    color: var(--primary-blue-color);
  }
}

.scrollableContent {
  height: 100%;
  overflow-y: auto;
  flex-grow: 1;
}
