.root {
  @include flexCenter(row, flex-start);
  gap: 1rem;
  width: 100%;
  flex-wrap: nowrap;
}

.inputContainer {
  position: relative;
  @include flexCenter(row, center);
  flex: 0 0 auto;
  width: 4rem;
  @include respond-to('medium') {
    width: 5rem;
  }
}

.input {
  border-radius: 0.5rem;
  font-size: 1.8rem;
  width: 100%;
  aspect-ratio: 1;
  @include respond-to('medium') {
    font-size: 1.6rem;
  }
  text-align: center;
  border: 1px solid var(--secondary-gray-color);
  background-color: transparent;
  position: relative;
  z-index: 2;

  &:focus {
    outline: none;
    border-color: var(--primary-blue-color);
    border-width: 2px;
  }

  &:disabled {
    background-color: var(--disabled-gray-color);
    cursor: not-allowed;
  }

  &.error {
    border-color: var(--primary-red-color);
    border-width: 0.2rem;
  }
}

.placeholder {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.8rem;
  color: var(--secondary-gray-color);
  pointer-events: none;
  z-index: 1;

  @include respond-to('medium') {
    font-size: 1.6rem;
  }
}
