.root {
  width: 100%;
  height: 100%;
  @include flexCenter(column, center);

  @include respond-to('medium') {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  @include respond-to('huge') {
    justify-content: flex-start;
  }
}

.heroBanner {
  @include respond-to('small') {
    max-width: 50rem;
  }

  @include respond-to('medium') {
    max-width: 150rem;
  }
}
