.root {
  width: 100%;
  @include flexCenter(column);
  @include respond-to('medium') {
    flex-direction: row;
  }
}

.image {
  margin-bottom: 4rem;
  max-width: calc(var(--container-max-width) * 0.8);
  @include respond-to('medium') {
    max-width: var(--container-max-width);
  }
}

.textContainer {
  width: 100%;
  @include flexCenter(column);
  align-items: center;
  @include respond-to('medium') {
    width: min(85%, 65rem);
  }
}

.title {
  background: var(--black-gradient-color);
  letter-spacing: -0.1rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: max(4.2rem, min(5vw, 5.5rem));
  padding-bottom: 4rem;
}

.description {
  font-size: max(1.7rem, min(5vw, 2rem));
  opacity: 0.75;
}

.ctaContainer {
  @include respond-to('small') {
    width: 100%;
  }

  margin-top: 5rem;
}
