$nav-height: 8rem;
$footer-height: 6rem;

:root {
  // Colors
  --primary-white-color: #fff;
  --secondary-white-color: #f0f0f0;

  --primary-green-color: #619b8a;
  --secondary-green-color: #a1c181;

  --primary-black-color: #1a1423;
  --secondary-black-color: #1b1a1a;

  --primary-gray-color: #f9fafb;
  --secondary-gray-color: #a4a9b4;
  --primary-gray-border: #ebebef;

  --primary-blue-color: #3f88e8;
  --secondary-blue-color: #0083ce;

  --primary-yellow-color: #ffea00;

  --primary-red-color: #ed4337;
  --secondary-red-color: #cb1b16;

  --black-background: #000814;

  // Gradients
  --black-linear-gradient: linear-gradient(315deg, #000000 0%, #414141 74%);

  // Fonts
  --regular-font: 'Poppins', sans-serif;
  --secondary-font: 'Lobster', sans-serif;
}
