.root {
  @include flexCenter(column, space-around, flex-start);
  width: 100%;
}

.heading {
  @include flexCenter(row, space-between);
  width: 100%;
  margin-bottom: 0.8rem;
}

.inputContainer {
  width: 100%;
  @include flexCenter(column, space-between, stretch);
  gap: 1.6rem;
}

.input {
  padding: 1rem 0.5rem;
  border-radius: 0.2rem;
}

.value {
  @include truncated;
}

.cta {
  cursor: pointer; // TODO: allow tap hover
}

.separator {
  opacity: 0.1;
}
