// To be loaded by NextJS & included in every css file
@import 'abstracts/mixins', 'base/animations';

.fullWidth {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.capitalize {
  text-transform: capitalize;
}

.disabled {
  opacity: 0.5;
}

.verticalFlip {
  transform: rotate(180deg);
}
