.root {
  ul {
    position: absolute;
    margin-top: 0.5rem;
    z-index: 1;
    background-color: var(--primary-white-color);
    @include flexCenter(column, center, flex-start);
    border: 1px solid var(--secondary-white-color);
    border-radius: 1rem;
    box-shadow: 0 0.2rem 0.3rem rgba(0, 0, 0, 0.2);

    &.inverted {
      margin-top: -12.5rem;
    }
  }

  li {
    cursor: pointer;
    @include flexCenter(row, flex-start);
    flex-wrap: nowrap;
    transition: opacity 0.3s ease;
    padding: 1rem;
    width: 100%;

    &:not(:last-child) {
      border-bottom: 1px solid var(--secondary-gray-color);
    }
    .label {
      text-transform: capitalize;
    }
    &:hover {
      opacity: 0.7;
    }

    .flag {
      margin-right: 0.8rem;
    }
  }
}

.button {
  position: relative;
  &:hover {
    box-shadow: unset !important;
  }
}

.currentLang {
  margin: 0 0.8rem;
}

.toggler {
  transition: transform 0.2s ease;
}
