.section {
  @include flexCenter(column, flex-start, flex-start);
  align-content: flex-start;
  gap: 2rem;
}
.element {
  @include flexCenter(row, space-between);
  width: 100%;
  margin-bottom: 2rem;
}
