.root {
  @include flexCenter(column, flex-start, flex-start);
  padding: var(--page-padding);
  max-width: var(--page-max-width);
}

.title {
  margin-bottom: 4rem;
}

.highlights {
  gap: 2rem 0;
  margin-bottom: 2rem;
}
