.root {
  width: 100%;
  height: 3.8rem;
  background-color: var(--primary-gray-color);
  box-shadow: 0 0.1rem 0.5rem rgba(0, 0, 0, 0.2);

  ul {
    margin-left: 2rem;
    @include flexCenter(row, flex-start, center);
    height: inherit;

    @include respond-to('medium') {
      margin-left: initial;
      justify-content: center;
    }
    li {
      &:not(:last-of-type) {
        margin-right: 1.5rem;
      }
    }
  }
}
