.root {
  margin-left: auto;
}

.profileIcon {
}

.authCTA {
  @include flexCenter(row);
  /*   min-width: 25rem; */
}

.mainCTA {
  margin-left: 2.5rem;
  letter-spacing: 0.1rem;
  transition:
    opacity 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  padding: 1.25rem 2rem;
  border-radius: 3rem;
  border: 1px solid var(--primary-white-color);
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
  opacity: 1;

  &:hover,
  &:active {
    opacity: 0.75;
  }
}

.secondaryCTA {
  letter-spacing: 0.1rem;
  transition:
    opacity 0.3s ease-in-out,
    border-color 0.3s ease-in-out;
  padding: 1rem 2rem;
  border-radius: 2.5rem;
  border: 1px solid var(--primary-black-color);
  color: var(--primary-black-color);
  opacity: 1;

  &:hover,
  &:active {
    opacity: 0.75;
  }
}
