.root {
  transition: transform 0.5s ease-in-out;
  z-index: 10;
  width: 100%;
  position: sticky;
  top: 0;
  height: var(--header-height);
  @include flexCenter(row, space-between, center, nowrap);
  background-color: var(--primary-black-color);
  padding: 0.5rem 2.5rem;
  gap: 1.5rem;
  --mobile-search-width: clamp(14rem, 60%, 26rem);
  --desktop-search-width: 24rem;
}

.authSection {
  margin-left: calc(1rem + 2%);
}

.container {
  @include flexCenter(row, flex-end, center, nowrap);
  gap: 1.5rem;
  margin-left: auto;
}

.searchbarDesktop {
  display: none;
  flex: 0 1 var(--desktop-search-width);
  max-width: var(--desktop-search-width);

  @include respond-to('medium') {
    display: flex;
  }
}

.searchbarMobile {
  display: flex;
  width: var(--mobile-search-width);
  max-width: 100%;

  @include respond-to('medium') {
    display: none;
  }
}

.languageMenu {
  margin-left: calc(0.5rem + 2.5%);
}
