.root {
  width: 100%;
  @include flexCenter(row);
  background-color: var(--primary-black-color);
  padding: 0.5rem 2.5rem;
}

.authSection {
  margin-left: calc(1rem + 2%);
}

.nav {
  margin-left: auto;
}
.languageMenu {
  margin-left: calc(0.5rem + 2.5%);
}
