.root {
  background-color: var(--primary-gray-color);
  flex: 1;
  @include flexCenter(column, space-evenly);
  flex-wrap: nowrap;
  @include respond-to('large') {
    padding: 4rem;
  }
}

.main {
  position: relative;
  background-color: var(--primary-white-color);
  @include flexCenter(column, space-evenly);
  flex-wrap: nowrap;

  @include respond-to('large') {
    flex: unset;
    height: min-content;
    width: 70rem;
    border-radius: 3rem;
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
  }

  form {
    height: stretch;
    width: inherit;
    & > :first-child {
      margin-top: 4rem;
    }
    & > :last-child {
      margin-bottom: 2rem;
    }
    display: flex;
    flex-direction: column;
    align-items: center;

    @include respond-to('large') {
      width: unset;
    }
  }
}

.topElements {
  padding: 1rem 2rem;
  margin-bottom: auto;
  width: 100%;
  @include flexCenter(row, space-between);
}
.languageMenu {
  & > :first-child:hover {
    border-color: var(--secondary-blue-color);
  }
}
