.root {
  @include flexCenter(column, center);

  gap: 5rem;
}

.avatar {
  @include flexCenter(column, center);
}

.userInfo {
  @include flexCenter(column);
  width: 100%;
  gap: 1rem;
}

.modal {
  margin-bottom: 3rem;
}

.recipient {
  font-style: italic;
}
