.root {
  @include flexCenter(row, flex-start);
  gap: 1rem;
  flex-wrap: nowrap;
  border-radius: 0.5rem;
  padding: 0 1rem;
  width: 100%;
  height: 5rem;
}

.icon {
  font-size: clamp(1.4rem, 3.5vw, 1.8rem);
  color: var(--primary-white-color);
}

.label {
  color: var(--primary-white-color);
  @include truncated;
}

.info {
  background-color: var(--primary-blue-color);
}

.error {
  background-color: var(--primary-red-color);
}

.success {
  background-color: var(--primary-green-color);
}
