.root {
  @include flexCenter(row, flex-start, center);
  gap: 1.5rem;
  border-radius: 0.5rem;
  padding: 1.5rem;
  transition:
    max-height 0.3s ease,
    opacity 0.3s ease;
  width: 100%;
  @include ow;
}

.icon {
  font-size: clamp(1.4rem, 3.5vw, 1.7rem);
  color: var(--primary-white-color);
}

.label {
  flex: 1;
  color: var(--primary-white-color);
}

.info {
  background-color: var(--primary-blue-color);
}

.error {
  background-color: var(--primary-red-color);
}

.success {
  background-color: var(--primary-green-color);
}
