.root {
  padding: var(--page-padding);
  margin: 0 auto;
  @include respond-to('medium') {
    max-width: var(--container-max-width);
  }

  @include flexCenter(column, flex-start);
  width: 100%;
  /*   height: 100%; */

  & > * {
    width: 100%;
  }

  & > :first-child {
    // Page's title
    margin-bottom: 4rem;
    @include respond-to('medium') {
      margin-bottom: 2rem;
    }
  }
}

.sidebar {
  margin-right: auto;
}
