.root {
  padding: 2rem;
  @include flexCenter(column, center);
}

.cta {
  margin: 0 auto;
  @include respond-to('medium') {
    width: max-content;
  }

  @include respond-to('large') {
    margin-bottom: unset;
  }
}

.credits {
  opacity: 0.8;
  margin-bottom: 2rem;
}
