.root {
  padding: var(--page-padding);
  @include flexCenter(column, center);
  margin: 0 auto;

  @include respond-to('small') {
    max-width: 50rem;
  }

  @include respond-to('medium') {
    max-width: 150rem;
  }
}

.cta {
  @include respond-to('medium') {
    width: max-content;
  }

  @include respond-to('large') {
    margin-bottom: unset;
  }
}

.credits {
  opacity: 0.8;
  margin-bottom: 2rem;
}
