.root {
  width: 100%;
  @include flexCenter(column, flex-start, stretch);
  gap: 1rem;
}

.row {
  @include flexCenter(row, space-between, flex-start);
}

.field {
  @include flexCenter(row, flex-start);
  gap: 0.8rem;
}
