.root {
  width: 100%;
  @include flexCenter(column, space-between, stretch);
  gap: 1.5rem;
}

.item {
  border-radius: 1rem;
}

.titleContainer {
  padding: 2rem 2rem 1.5rem;
  cursor: pointer;
  @include flexCenter(row, space-between);
  @include preventUserSelect;
  gap: 2rem;
}

.toggler {
  transition: transform 0.3s ease;
}

.title {
  flex: 1;
}

.collapseable {
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.description {
  padding: 0.5rem 2rem 1.2rem;
  color: var(--tertiary-black-color);
}

.coloredBackground {
  background-color: var(--tertiary-blue-color) !important;
}
.hoverEffect {
  transition: background-color 0.3s ease;
  &:hover {
    background-color: var(--tertiary-blue-color) !important;
  }
}
