.root {
  justify-content: space-between;
}

.emailField {
  margin-bottom: 1rem;
}

.title {
  margin: 5rem 0 4rem;
}

.wrapper {
  width: 90%;
  margin-bottom: 4rem;
  @include flexCenter(column, space-evenly);

  @include respond-to('medium') {
    width: 40rem;
  }

  // Targets last element before submit button
  *:has(+ .cta):not(.passwordRecovery) {
    margin-bottom: 2.5rem;
  }
}

.passwordRecovery {
  color: var(--secondary-blue-color);
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
