.root {
  justify-content: flex-start;
  & > :last-child {
    width: 100%;
  }
}

.title {
  margin: 1rem 0 2rem;
}

.field {
  margin-bottom: 3rem;
}

.wrapper {
  width: 100%;
  @include flexCenter(column);
  margin-bottom: 4rem;

  @include respond-to('medium') {
    width: var(--container-max-width);
  }
}
