.root {
  @include flexCenter(column, space-around);
  padding: 2rem;
  background-color: var(--primary-white-color);
  width: 95%;

  height: 20rem;

  @include respond-to('medium') {
    width: 40rem;
  }
}

.loadingSection {
  @include flexCenter(row);
  & > :first-child {
    margin-right: 1rem;
  }
}
