/* Fonts */

p {
  font-size: 1.6rem;
}

a {
  font-size: 1.6rem;
}

h1 {
  font-size: 3rem;
}
/*
h2 {
}

h3 {
}
h4 {
}

h5 {
}

h6 {
} */

small {
  font-size: 1.2rem;
}
button {
  font-size: 1.4rem;
  font-family: inherit;
}
