.btn {
  @include flexCenter(row, center);
  width: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition: opacity 0.3s ease-in-out;
  padding: 2rem 1.5rem;
  border-radius: 0.8rem;

  @include respond-to('medium') {
    padding: 2rem 5rem;
  }

  &:hover:enabled,
  &:active:enabled {
    opacity: 0.85;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}

.primary {
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
}

.secondary {
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--secondary-gray-color);
}

.regular {
  padding: 0.5rem 1.2rem;
  border-radius: 0.5rem;
  background-color: var(--primary-blue-color);
  &:hover:enabled {
    background-color: var(--secondary-blue-color);
  }
}
