.root {
  @include flexCenter(row, center);
  border: none;
  outline: none;
  cursor: pointer;
  font-weight: 600;
  letter-spacing: 0.1rem;
  transition:
    opacity 0.3s ease-in-out,
    border-color 0.3s ease-in-out,
    box-shadow 0.3s ease-in-out;
  padding: 2rem 1.5rem;
  border-radius: 0.8rem;

  @include respond-to('medium') {
    padding: 2rem;
  }

  &:hover:enabled,
  &:active:enabled {
    opacity: 0.85;
  }

  &:disabled,
  &[disabled] {
    cursor: not-allowed;
  }
}

.primary {
  color: var(--primary-white-color);
  background-color: var(--primary-black-color);
}

.secondary {
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  border: 1px solid var(--secondary-gray-color);
}

.regular {
  padding: 0.75rem 1.15rem;
  border-radius: 0.5rem;
  width: fit-content;
  min-height: 3.8rem;
  background-color: var(--primary-white-color);
  border: 1px solid var(--secondary-white-color);

  &:hover {
    opacity: 0.7;
  }
}

.shadowEffect {
  box-shadow: 0 0.1rem 0.1rem rgba(0, 0, 0, 0.1);
  &:hover {
    box-shadow: 0.2rem 0.4rem 0.6rem rgba(0, 0, 0, 0.2);
  }
}

.icon {
  margin-right: 1rem;
}
