.root {
  width: 100%;
  @include flexCenter(column);

  @include respond-to('medium') {
    flex-direction: row;
  }

  @include respond-to('large') {
    max-width: 150rem;
  }
}

.image {
  position: relative;
  margin-bottom: 4rem;
  width: 85%;
  height: 25rem;
  @include respond-to('medium') {
    width: min(calc(20rem + 30vw), 40rem);
    height: min(calc(20rem + 20vw), 40rem);
  }
}

.textContainer {
  width: 100%;
  @include flexCenter(column);
  align-items: center;
  @include respond-to('medium') {
    width: min(85%, 65rem);
  }
}

.title {
  background: var(--black-gradient-color);
  letter-spacing: -0.1rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: max(4.2rem, min(5vw, 5.5rem));
  padding-bottom: 4rem;
}

.description {
  font-size: max(1.7rem, min(5vw, 2rem));
  opacity: 0.75;
}

.ctaContainer {
  width: 100%;
  margin-top: 5rem;

  @include respond-to('medium') {
    @include flexCenter(row);
  }
}
