.root {
  width: 100%;
  @include flexCenter(column);
}

.title {
  background: var(--black-gradient-color);
  letter-spacing: -0.1rem;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: max(4.8rem, min(5vw, 5.5rem));
  padding-bottom: 4rem;
}

.description {
  opacity: 0.75;
}
