.root {
  @include flexCenter(row, flex-start);
  flex-wrap: nowrap;
  border-radius: 0.5rem;
  padding: 0 1rem;
  width: inherit;
  height: 5rem;
}

.icon {
  margin-right: 1rem;
  color: var(--primary-white-color);
}

.label {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-white-color);
  @include truncated;
}

.info {
  background-color: var(--primary-blue-color);
}

.error {
  background-color: var(--primary-red-color);
}

.success {
  background-color: var(--primary-green-color);
}
