.root {
  @include flexCenter(row);
  @include truncated;
  border-radius: 0.5rem;
  padding: 1.5rem 0.5rem;
  width: inherit;
}

.icon {
  margin-right: 1rem;
  color: var(--primary-white-color);
}

.label {
  font-size: 1.4rem;
  font-weight: 500;
  color: var(--primary-white-color);
}

.info {
  background-color: var(--primary-blue-color);
}

.error {
  background-color: var(--primary-red-color);
}

.success {
  background-color: var(--primary-green-color);
}
