/*  .root {
    width: inherit; 
} */

.fullWidth {
  width: inherit; // Todo: Find more appropriate name
}

.xxs {
  font-size: 1rem;
}

.xs {
  font-size: 1.2rem;
}

.s {
  font-size: 1.4em;
}

.m {
  font-size: 1.6rem;
}
