/*  .root {
    width: inherit; 
} */

.fullWidth {
  width: inherit; // Todo: Find more appropriate name
}

.xxs {
  font-size: 1rem;
}

.xs {
  font-size: 1.2rem;
}

.s {
  font-size: 1.4rem;
}

.m {
  font-size: 1.6rem;
}

.l {
  font-size: 2rem;
}

.xl {
  font-size: 2.4rem;
}
.xxl {
  font-size: 3.2rem;
}
