.wrapper {
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  &:not(:first-child) {
    padding-bottom: 2rem;
  }
}

.subField {
  @include flexCenter(row, space-between);
}

.errorIcon {
  margin-right: 0.6rem;
  color: var(--primary-red-color);
}

.ctaIcon,
.fieldIcon {
  position: absolute;
  transition: color 0.3s ease-in;
  top: 2.8rem;
  color: var(--secondary-gray-color);
}

.fieldIcon {
  left: 0.8rem;
}
.ctaIcon {
  right: 1rem;
}

.formField {
  position: relative;
  @include flexCenter(column-reverse, space-between, flex-start);
  width: 100%;
  padding-bottom: 0.5rem;

  &:hover * {
    color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
  }

  &:focus-within .fieldIcon {
    color: var(--primary-blue-color);
  }

  input {
    padding: 1.3rem 3.2rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transition-property: opacity, border-color, background-color, color;
    font-weight: bold;
    color: var(--secondary-black-color);
    outline: none;
    background-color: var(--primary-gray-color);
    border-radius: 0.8rem;
    border: 1px solid var(--primary-gray-border);

    &:focus,
    &:active {
      border-color: var(--primary-blue-color);
      color: var(--primary-blue-color);
    }

    &[type='password']::placeholder {
      font-weight: bold;
    }

    &:placeholder-shown + label {
      cursor: text;
      max-width: 78.66%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      transform-origin: left bottom;
      transform: translate(3.2rem, 3rem) scale(1.2);
    }

    &::-webkit-input-placeholder {
      transition: inherit;
      opacity: 0;
      font-weight: normal;
    }

    &:-ms-input-placeholder {
      opacity: 0;
      font-weight: normal;
    }

    &::-moz-placeholder {
      opacity: 0;
      font-weight: normal;
    }

    &:focus::-moz-placeholder {
      color: var(--secondary-gray-color);
      opacity: 0.9;
    }

    // Placeholder's styles
    &:focus::-webkit-input-placeholder {
      color: var(--secondary-gray-color);
      opacity: 0.9;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label,
    &:active + label {
      background-color: var(--primary-white-color);
      padding: 0 0.1rem;
      transform: translate(3rem, 0.75rem) scale(1);
      cursor: pointer;
    }

    &:focus + label {
      color: var(--primary-blue-color);
    }
  }

  label {
    transition: all 0.3s ease-in-out;
    color: var(--secondary-gray-color);
  }
}
