.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
}

.formField {
  position: relative;
  @include flexCenter(column-reverse, space-between, flex-start);
  width: 100%;
  padding-bottom: 0.8rem;

  &:hover * {
    color: var(--primary-blue-color);
    border-color: var(--primary-blue-color);
  }

  &:focus-within .fieldIcon {
    color: var(--primary-blue-color);
  }

  input {
    font-size: clamp(1.2rem, 2.5vw, 1.4rem);
    padding: 1.2rem 3.2rem;
    width: 100%;
    transition: all 0.3s ease-in-out;
    transition-property: opacity, border-color, background-color, color;
    font-weight: 600;
    color: var(--secondary-black-color);
    outline: none;
    background-color: var(--primary-gray-color);
    border-radius: 0.8rem;
    border: 1px solid var(--primary-gray-border);

    &:focus,
    &:active {
      border-color: var(--primary-blue-color);
      color: var(--primary-blue-color);
    }

    &[type='password']::placeholder {
      font-weight: 600;
    }

    &:placeholder-shown + label {
      max-width: 70%;
      white-space: nowrap;
      @include truncated;
      transform-origin: left bottom;
      transform: translate(3.2rem, 2.8rem) scale(1.1);
    }

    &::-webkit-input-placeholder {
      transition: inherit;
      opacity: 0;
      font-weight: normal;
    }

    &:-ms-input-placeholder {
      opacity: 0;
      font-weight: normal;
    }

    &::-moz-placeholder {
      opacity: 0;
      font-weight: normal;
    }

    &:focus::-moz-placeholder {
      color: var(--secondary-gray-color);
      opacity: 0.9;
    }

    // Placeholder's styles
    &:focus::-webkit-input-placeholder {
      color: var(--secondary-gray-color);
      opacity: 0.9;
    }

    &:not(:placeholder-shown) + label,
    &:focus + label,
    &:active + label {
      background-color: var(--primary-white-color);
      padding: 0 0.1rem;
      transform: translate(3rem, 0.75rem) scale(1);
    }

    &:focus + label {
      color: var(--primary-blue-color);
    }
  }

  label {
    font-size: clamp(1rem, 2.5vw, 1.2rem);
    transition: all 0.3s ease-in-out;
    color: var(--secondary-gray-color);
  }
}

.ctaIcon,
.fieldIcon {
  position: absolute;
  transition: color 0.3s ease-in;
  font-size: clamp(1.4rem, 2.5vw, 1.6rem);
  color: var(--secondary-gray-color);
}

.fieldIcon {
  bottom: 1.8rem;
  left: 0.8rem;
}
.ctaIcon {
  bottom: 1.6rem;
  right: 1rem;
}

.subField {
  position: absolute;
  bottom: -20%;
}
