.root {
  @include flexCenter(column);
  min-height: 20rem;
  margin-bottom: auto;
  @include respond-to('medium') {
    width: var(--container-max-width);
  }
}

.loadingSection {
  @include flexCenter(row);
  flex: 1;
  gap: 1rem;
}

.cta {
  margin-bottom: 2rem;
}
