.root {
  @include flexCenter(column);
  padding: 0 2rem;
  min-height: 20rem;
  margin-bottom: auto;
  @include respond-to('medium') {
    width: 40rem;
  }
}

.loadingSection {
  @include flexCenter(row);
  flex: 1;
  & > :first-child {
    margin-right: 1rem;
  }
}

.cta {
  margin-bottom: 2rem;
}
